* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  color: #000;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 1430px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__button {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 30px;
  padding: 28px 22px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.header__menu {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.main {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  height: 100vh;
}

.main__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 65%;
  color: #ffffff;
}

.main__title {
  font-family: "Raleway", sans-serif;
  font-size: 220px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.main__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 5.82px;
}

.main__dots {
  padding-bottom: 110px;
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main__dots span {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 12px;
}

.main__dots span:first-child {
  margin-left: 0;
}

.main__dots span:last-child {
  margin-right: 0;
}

.inclusive {
  padding: 80px 0 100px 0;
}

.inclusive__container {
  max-width: 985px;
  padding: 0 15px;
  margin: 0 auto;
}

.inclusive__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inclusive__title {
  text-align: center;
}

.inclusive__uptitle {
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 16px;
}

.inclusive__title-h1 {
  margin-bottom: 35px;
}

.inclusive__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  line-height: 28px;
}

.inclusive__line {
  width: 80px;
  height: 2px;
  background-color: #000;
  margin-bottom: 60px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.text p {
  text-align: justify;
  margin-bottom: 40px;
}

.text p.text_centered {
  text-align: center;
}

.text p:last-child {
  margin-bottom: 0;
}
