* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  color: #000;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1440px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__button {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 30px;
  padding: 28px 22px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header__button {
    font-size: 24px;
    padding: 20px 14px;
  }
}

.header__menu {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  transition: 0.5s;
}

.header__menu::before, .header__menu::after {
  content: "";
  width: 52px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.header__menu::before {
  top: -9px;
}

.header__menu::after {
  bottom: -9px;
}

.header__menu._active {
  transform: translateY(10px);
}

.header__menu._active::before, .header__menu._active::after {
  transition: 0.5s;
  left: 7px;
}

.header__menu._active::before {
  transform-origin: top left;
  transform: rotate(45deg) translateY(-9px);
  top: -39px;
}

.header__menu._active::after {
  transform: rotate(-45deg) translateY(-9px);
  bottom: 31px;
}

.header__nav {
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 16, 19, 0.9);
  position: absolute;
  padding-top: 190px;
  padding-bottom: 120px;
  padding-left: 300px;
  top: 0;
  left: 0;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

@media (max-height: 600px) {
  .header__nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .header__nav {
    padding-left: 150px;
  }
}

@media (max-width: 767px) {
  .header__nav {
    padding-top: 130px;
    padding-bottom: 90px;
    padding-left: 0;
  }
}

.header__nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 767px) {
  .header__nav ul {
    align-items: center;
    justify-content: space-around;
  }
}

.header__nav._active {
  opacity: 1;
  visibility: visible;
}

.header__link {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 10px;
  color: #626262;
  text-transform: uppercase;
  transition: 0.2s;
}

@media (max-width: 767px) {
  .header__link {
    font-size: 32px;
  }
}

@media (max-width: 454px) {
  .header__link {
    font-size: 24px;
  }
}

.header__link:hover {
  transition: 0.2s;
  color: #fff;
  text-decoration: underline;
}

.main {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  height: 100vh;
}

.main__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 65%;
  color: #ffffff;
}

@media (max-width: 767px) {
  .main__box {
    align-items: center;
  }
}

.main__title {
  font-family: "Raleway", sans-serif;
  font-size: 220px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 21px;
  margin-bottom: -5px;
}

@media (max-width: 1200px) {
  .main__title {
    font-size: 190px;
  }
}

@media (max-width: 992px) {
  .main__title {
    font-size: 165px;
  }
}

@media (max-width: 767px) {
  .main__title {
    font-size: 145px;
  }
}

@media (max-width: 550px) {
  .main__title {
    font-size: 70px;
    margin-bottom: 20px;
  }
}

.main__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 7px;
}

@media (max-width: 1200px) {
  .main__subtitle {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .main__subtitle {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .main__subtitle {
    font-size: 36px;
  }
}

@media (max-width: 550px) {
  .main__subtitle {
    font-size: 14px;
  }
}

.main__dots {
  padding-bottom: 110px;
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .main__dots {
    padding-bottom: 70px;
  }
}

.main__dots span {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 12px;
}

.main__dots span:first-child {
  margin-left: 0;
}

.main__dots span:last-child {
  margin-right: 0;
}

.inclusive {
  padding: 80px 0 100px 0;
}

@media (max-width: 767px) {
  .inclusive {
    padding: 70px 0;
  }
}

.inclusive__container {
  max-width: 985px;
  padding: 0 15px;
  margin: 0 auto;
}

.inclusive__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inclusive__title {
  text-align: center;
}

.inclusive__uptitle {
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .inclusive__uptitle {
    font-size: 40px;
  }
}

.inclusive__title-h2 {
  margin-bottom: 35px;
}

.inclusive__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  line-height: 25px;
}

@media (max-width: 767px) {
  .inclusive__subtitle {
    font-size: 18px;
  }
}

.inclusive__line {
  display: inline-block;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .inclusive__line {
    margin-bottom: 30px;
  }
}

.quotes {
  width: 100%;
  display: flex;
}

@media (max-width: 992px) {
  .quotes {
    flex-direction: column;
  }
}

.quotes__left-column {
  flex-basis: 50%;
  background-color: #ffddd5;
  padding: 140px 0 140px 100px;
}

@media (max-width: 1400px) {
  .quotes__left-column {
    padding-left: 50px;
  }
}

@media (max-width: 1230px) {
  .quotes__left-column {
    padding: 70px 0 120px 50px;
  }
}

@media (max-width: 992px) {
  .quotes__left-column {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 15px 100px 15px;
  }
}

.quotes__slider {
  position: relative;
}

.quotes__slider-box {
  max-width: 520px;
  font-size: 36px;
}

@media (max-width: 1230px) {
  .quotes__slider-box {
    max-width: 430px;
  }
}

@media (max-width: 460px) {
  .quotes__slider-box {
    font-size: 28px;
  }
}

.quotes__slider-text {
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 55px;
  letter-spacing: -3.1px;
}

.quotes__slider-text-autor {
  font-weight: 300;
  letter-spacing: -1px;
}

.quotes__slider-dots {
  position: absolute;
  left: 0;
  bottom: -63px;
  width: 100%;
  height: 10px;
  display: flex;
}

.quotes__slider-dots span {
  width: 10px;
  height: 10px;
  border: 1px solid #626262;
  border-radius: 50%;
  margin: 0 5px;
}

.quotes__slider-dots span:first-child {
  margin-left: 0;
}

.quotes__slider-dots span:last-child {
  margin-right: 0;
}

.quotes__right-column {
  flex-basis: 50%;
}

@media (max-width: 992px) {
  .quotes__right-column {
    flex-basis: 100%;
  }
}

.quotes__right-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reasons {
  padding: 130px 0;
}

@media (max-width: 767px) {
  .reasons {
    padding: 80px 0;
  }
}

.reasons__title-h2 {
  margin-bottom: 30px;
}

.reasons__line {
  display: block;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .reasons__line {
    margin: 0 auto 50px;
  }
}

.reasons__box {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  margin-bottom: 62px;
}

@media (max-width: 767px) {
  .reasons__box {
    grid-template: repeat(4, 1fr)/1fr;
  }
}

.reasons__item {
  padding: 49px 80px 30px 50px;
  border: 1px solid #dcdcdc;
}

.reasons__item-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
  letter-spacing: -2.8px;
}

@media (max-width: 992px) {
  .reasons__item-title {
    text-align: center;
  }
}

.reasons__item-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 34px;
  letter-spacing: -0.8px;
}

.reasons__item-author {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}

.reasons__button {
  margin: 0 auto;
}

.qod {
  padding: 200px 0 160px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/qod-bg.jpg") center/cover no-repeat;
}

@media (max-width: 767px) {
  .qod {
    padding: 90px 15px;
  }
}

.qod__box {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  max-width: 825px;
  margin: 0 auto;
}

.qod__text {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 64px;
  line-height: 72px;
}

@media (max-width: 767px) {
  .qod__text {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 42px;
  }
}

.qod__subtext {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .qod__subtext {
    font-size: 16px;
  }
}

.qod__link {
  color: #fff;
  text-decoration: underline;
}

.qod__link:hover {
  text-decoration: underline;
}

.qod__link:focus {
  text-decoration: underline;
}

.posters {
  background-color: #eaeef1;
  padding: 100px 0 120px 0;
}

@media (max-width: 767px) {
  .posters {
    padding: 70px 15px;
  }
}

.posters__title-h2 {
  margin-bottom: 30px;
}

.posters__line {
  display: block;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .posters__line {
    margin: 0 auto 50px;
  }
}

.posters__box {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 50px;
  margin-bottom: 100px;
  height: 760px;
}

@media (max-width: 1385px) {
  .posters__box {
    column-gap: 70px;
    row-gap: 30px;
    height: 560px;
  }
}

@media (max-width: 1175px) {
  .posters__box {
    column-gap: 20px;
    row-gap: 20px;
    height: 360px;
  }
}

@media (max-width: 992px) {
  .posters__box {
    grid-template: 1fr 1fr 1fr / 1fr;
    height: auto;
    margin-bottom: 40px;
  }
}

.posters__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.posters__item div {
  position: relative;
  z-index: 3;
}

.posters__item img.posters__item-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.posters__item_gentleman {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  z-index: 2;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 992px) {
  .posters__item_gentleman {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

@media (max-width: 767px) {
  .posters__item_gentleman {
    font-size: 50px;
  }
}

@media (max-width: 420px) {
  .posters__item_gentleman {
    font-size: 32px;
  }
}

.posters__item_nature {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  padding-left: 80px;
}

.posters__item_nature div.posters__item-text {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  color: #000;
}

.posters__item_nature div.posters__item-text span {
  display: inline-block;
  font-family: "Georgia", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .posters__item_nature {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.posters__item_coffee div.posters__item-text {
  max-width: 154px;
  padding-top: 35px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-weight: 700;
  font-size: 30px;
  color: #000;
  align-items: flex-start;
}

.posters__item_coffee div.posters__item-actions {
  flex-direction: column;
}

.posters__item_silence div.posters__item-text {
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #fefefe;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.posters__item_silence div.posters__item-text span {
  display: inline-block;
  font-size: 37px;
  font-weight: 700;
}

.posters__item_silence div.posters__item-actions {
  flex-direction: column;
}

.posters__item-text {
  flex-basis: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.posters__item-actions {
  padding: 0 38px;
  flex-basis: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.posters__item-actions._hovered {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1385px) {
  .posters__item-actions {
    padding: 0 14px;
  }
}

@media (max-width: 992px) {
  .posters__item-actions {
    opacity: 1;
    visibility: visible;
  }
}

.posters__item-link {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.posters__item-link:hover {
  text-decoration: underline;
}

@media (max-width: 1175px) {
  .posters__item-link {
    font-size: 12px;
  }
}

.posters__item-link-container {
  display: flex;
}

.posters__item-link-container img {
  width: 30px;
  height: 20px;
  object-fit: cover;
}

.posters__item-link-share {
  display: block;
  margin-right: 10px;
}

.posters__subgrid {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  column-gap: 80px;
}

@media (max-width: 1385px) {
  .posters__subgrid {
    column-gap: 50px;
  }
}

@media (max-width: 1175px) {
  .posters__subgrid {
    column-gap: 20px;
  }
}

@media (max-width: 992px) {
  .posters__subgrid {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

@media (max-width: 767px) {
  .posters__subgrid {
    grid-template: 1fr 1fr / 1fr;
    column-gap: 0;
    row-gap: 20px;
    height: auto;
  }
}

.posters__button {
  margin: 0 auto;
  cursor: pointer;
}

.footer {
  font-family: "Montserrat", sans-serif;
}

.footer__top {
  padding: 125px 0 100px 0;
}

@media (max-width: 1110px) {
  .footer__top {
    padding: 100px 0 40px 0;
  }
}

@media (max-width: 767px) {
  .footer__top {
    padding: 60px 0 60px 0;
  }
}

.footer__top-box {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

@media (max-width: 1110px) {
  .footer__top-box {
    flex-wrap: wrap;
  }
}

.footer__top-column {
  flex-basis: 25%;
  margin: 0 15px;
}

@media (max-width: 1110px) {
  .footer__top-column {
    flex-basis: 45%;
    padding-left: 10%;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .footer__top-column {
    flex-basis: 100%;
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__top-column:last-child {
    margin-bottom: 0;
  }
}

.footer__top-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 55px;
}

@media (max-width: 1110px) {
  .footer__top-title {
    margin-bottom: 30px;
  }
}

.footer__top-list li {
  margin-bottom: 20px;
}

.footer__top-list li:last-child {
  margin-bottom: 0;
}

.footer__top-link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  letter-spacing: 2.4px;
}

.footer__top-link:hover {
  text-decoration: underline;
}

.footer__top-contact {
  margin-bottom: 50px;
}

.footer__top-contact p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.4px;
  margin-bottom: 14px;
}

.footer__top-contact p:last-child {
  margin-bottom: 0;
}

.footer__top-contact:last-child {
  margin-bottom: 0;
}

.footer__top-subscribe-info {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.4px;
  line-height: 28px;
  margin-bottom: 34px;
}

.footer__top-form-input {
  background-color: #eaeef1;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.footer__top-form-input::placeholder {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2.25px;
}

@media (max-width: 767px) {
  .footer__top-form-input::placeholder {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__top-form-button {
    margin: 0 auto;
  }
}

.footer__bottom {
  height: 90px;
  background-color: #eaeef1;
}

@media (max-width: 767px) {
  .footer__bottom {
    height: 160px;
  }
}

.footer__bottom-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__bottom-box {
    flex-direction: column;
    padding: 30px 0;
  }
}

.footer__bottom-copy {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.4px;
}

@media (max-width: 767px) {
  .footer__bottom-copy {
    text-align: center;
  }
}

.footer__bottom-list {
  display: flex;
  align-items: center;
}

.footer__bottom-list li {
  margin-left: 24px;
}

@media (max-width: 767px) {
  .footer__bottom-list li {
    margin-left: 10px;
  }
  .footer__bottom-list li:first-child {
    margin-left: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 280px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 4px;
  transition: 0.4s;
}

.button_small {
  width: 140px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2.4px;
}

.button:hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 767px) {
  .button {
    font-size: 16px;
    width: 240px;
  }
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0.9px;
}

@media (max-width: 767px) {
  .title {
    font-size: 40px;
    text-align: center;
  }
}

.line {
  width: 80px;
  height: 2px;
  background-color: #000;
}

@media (max-width: 767px) {
  .line {
    text-align: center;
  }
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.text p {
  text-align: justify;
  margin-bottom: 30px;
}

.text p.text_centered {
  text-align: center;
}

.text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .text {
    font-size: 18px;
  }
}
