$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-rare: 'Montserrat', sans-serif;
$font-g: 'Georgia', sans-serif;
$font-tnr: "Times New Roman", Times, Baskerville, Georgia, serif;