@import "nullstyle";
@import "fonts";
@import "variables";

html, body {
	height: 100%;
	color: #000;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container {
	width: 1430px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.header {

	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	&__button {
		font-family: $font-rare;
		color: #fff;
		background-color: #000;
		font-size: 30px;
		padding: 28px 22px;
		font-weight: 700;
		letter-spacing: 6px;
		text-transform: uppercase;
	}

	&__menu {
		font-family: $font-rare;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

.main {

	background: url('../img/main-bg.jpg') center / cover no-repeat;
	height: 100vh;

	&__wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		flex-basis: 65%;
		color: #ffffff;
	}

	&__title {
		font-family: $font-primary;
		font-size: 220px;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 20px;
	}

	&__subtitle {
		font-family: $font-primary;
		font-size: 64px;
		font-weight: 700;
		letter-spacing: 5.82px;
	}

	&__dots {
		padding-bottom: 110px;
		flex-basis: 35%;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		& span {
			width: 16px;
			height: 16px;
			background-color: #000;
			border-radius: 50%;
			margin: 0 12px;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.inclusive {
	padding: 80px 0 100px 0;

	&__container {
		max-width: 985px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title {
		text-align: center;
	}

	&__uptitle {
		font-size: 60px;
		font-weight: 200;
		margin-bottom: 16px;
	}

	&__title-h2 {
		margin-bottom: 35px;
	}

	&__subtitle {
		font-family: $font-primary;
		font-size: 20px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 40px;
		line-height: 28px;
	}

	&__line {
		margin-bottom: 60px;
	}

	&__text {
		
	}
}

.quotes {
	width: 100%;
	display: flex;

	&__left-column {
		flex-basis: 50%;
		background-color: #ffddd5;
		padding: 140px 0 140px 100px;
	}

	&__slider {
		position: relative;
	}

	&__slider-box {
		width: $slider-width;
		font-size: 36px;
	}

	&__slider-text {
		font-weight: 700;
		line-height: 48px;
		margin-bottom: 70px;
	}

	&__slider-text-autor {
		font-weight: 300;
	}

	&__slider-dots {
		position: absolute;
		left: 0;
		bottom: -50px;
		width: 100%;
		height: 10px;
		display: flex;

		& span {
			width: 10px;
			height: 10px;
			border: 1px solid #626262;
			border-radius: 50%
		}
	}

	&__right-column {
		flex-basis: 50%;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.reasons {
	padding: 130px 0;

	&__title-h2 {
		margin-bottom: 30px;
	}

	&__line {
		width: 80px;
		height: 2px;
		background-color: #000;
		margin-bottom: 100px;
	}

	&__box {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr;
	}

	&__item {
		padding: 55px 100px 60px 50px;
		border: 1px solid #dcdcdc;
	}

	&__item-title {
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 45px;
	}

	&__item-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 50px;
	}

	&__item-author {
		font-size: 20px;
		font-style: italic;
		font-weight: 400;
	}

	&__button {
	}
}

.button {
}


.title {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 60px;
}

.line {
	width: 80px;
	height: 2px;
	background-color: #000;
}

.text {
	font-family: $font-primary;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;

	& p {
		text-align: justify;
		margin-bottom: 40px;
		&.text_centered {
			text-align: center;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}
